<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
     <h1>Tiny app!</h1>
<header>
<% if(users) { %>
<p>You're logged in as <%=users["email"]%></p>
<form action="/logout" method="POST">
 <button type="submit">Log out</button>
</form>
<% } else { %>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
<% } %>