<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
     <h1>Tiny app!</h1>
<form action="/login" method="POST">
<label for="username">Enter your username:</label>
      <input id="username" type="text" name="username" placeholder="username">
      <button type="submit">Submit</button>
<p>The username you submitted is <%=username%></p>
</form>
