<% include ./partials/_header.ejs %>

      <table class="table">
        <thead>
          <tr>
            <th>Full</th>
            <th>Shortened</th>
            <th>Delete</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <% for(var p in urls) { %>
          <tr>
            <td><%= urls[p] %></td>
            <td><%= p %></td>
            <td>
              <form method="POST" action="/urls/<%= p %>/delete">
               <input type="submit" value="delete">
             </form>
           </td>
           <td>
            <a href="urls/<%=p%>">Update</a>
           </td>
          </tr>
          <% } %>
          <tr>
            <td>
              <a href="">Shorten URL</a>
            </td>
          </tr>
        </tbody>
      </table>

</body>
</html>


