<% include ./partials/_header.ejs %>

      <table class="table">
        <thead>
          <tr>
            <th>Shortened</th>
            <th>Full</th>
            <th>Delete</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <% for(var p in urls) { %>
          <tr>
            <td><%=urls[p].tinyURL %></td>
            <td><%= p %></td>
            <td>
              <form method="POST" action="/urls/<%=p%>/delete">
               <input type="submit" name ="delete" value="delete">
             </form>
           </td>
           <td>
            <button><a href="urls/<%=p%>">Edit</a></button>
           </td>
          </tr>
          <% } %>
          <tr>
            <td>
              <a href="urls/new">Shorten URL</a>
            </td>
          </tr>
        </tbody>
      </table>

</body>
</html>
